body {
    background-color: $background;
    color: $lightText;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.test {
    position: relative;
    padding: 1px;
}